<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>To-Do List</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <section>
    <h1>Peace Photo Album</h1>
    <h2>Add your favorite photos that bring nostalgic moments of peace !</h2>


  <h3>Entires</h3>
  <ul class="messages">
  <% for(var i=0; i<messages.length; i++) {%>
     <!-- if condition inside html to manipulate property -->

    <li class="message <%= messages[i].completed ? 'grey' : '' %>" >
       <img src="/uploads/<%= messages[i].imgName %>" alt="pic">
      <span><%= messages[i].msg %></span>
     <span><i class="fa-solid fa-check"></i></span>
      <span><i class="fa fa-trash" aria-hidden="true"></i></span>
      
    </li>
  <% } %>
  </ul>

  <h2>Image Upload + Captions</h2>
 
  
  <form class="form" action="/items" method="POST" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <input type="text" placeholder="message" name="msg">
    <p><input type="submit" value="upload"></p>

  </form>
</section>
  <script src="main.js"></script>

</body>
</html>
